{#
 # SharIF Judge
 # file: halloffame.twig
 # author: Stillmen Vallian <stillmen.v@gmail.com>
 #}
{% set selected = 'halloffame' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa fa-list-alt fa-lg{% endblock %}
{% block title %}Hall of Fame{% endblock %}
{% block head_title %}Hall of Fame{% endblock %}
{% block other_assets %}
	<link rel='stylesheet' type='text/css' href='{{ base_url("assets/snippet/jquery.snippet.css") }}'/>
	<link rel='stylesheet' type='text/css' href='{{ base_url("assets/snippet/themes/github.css") }}'/>
	<script type='text/javascript' src="{{ base_url("assets/snippet/jquery.snippet.js") }}"></script>
	<link rel='stylesheet' type='text/css' href='{{ base_url("assets/reveal/reveal.css") }}'/>
	<script type='text/javascript' src="{{ base_url("assets/reveal/jquery.reveal.js") }}"></script>
{% endblock %}


{% block main_content %}
<div style="height:15px"></div>
<table class="sharif_table">
	<thead>
		<tr>
			<th>#</th>
      <th>Rank</th>
			<th>Username</th>
      <th>Display Name</th>
			<th>Total Score</th>
		</tr>
	</thead>
  {% set tempTotalScore = 0 %}
  {% set tempLoop = 0 %}
	{% for hof in hofs %}
		<tr class="hof_details" style="cursor: pointer;">
			<td>{{ loop.index }}</td>
      {% if loop.index == 1 %}
        <td>1</td>
        {% set tempTotalScore = hof.totalscore %}
        {% set tempLoop = tempLoop+1 %}
      {% elseif tempTotalScore == hof.totalscore %}
        <td>{{ tempLoop }}</td>
      {% else %}
        {% set tempTotalScore = hof.totalscore %}
        {% set tempLoop = tempLoop+1 %}
        <td>{{ tempLoop }}</td>
      {% endif %}
			<td class="username">{{ hof.username }}</td>
      <td class="display_name">{{ hof.display_name }}</td>
      <td>{{ hof.totalscore }}</td>
		</tr>
	{% endfor %}
</table>
{% endblock %} {# main_content #}

{% block body_end %}
<div id="shj_modal" class="reveal-modal xlarge">
	<div class="modal_inside">
		<div style="text-align: center;">Loading<br><img src="{{ base_url('assets/images/loading.gif') }}"/></div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>
{% endblock %}
